<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">{{ (title) ? title|trans : '' }}</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">{{ (pagetitle) ? pagetitle|trans : '' }}</a></li>
                    <li class="breadcrumb-item active">{{ (title) ? title|trans : '' }}</li>
                </ol>
            </div>

        </div>
    </div>
</div>
{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
{% endfor %}
<!-- end page title -->